#headLine>p {
    font-family: "Eras ITC", "Eras Light ITC", sans-serif !important;
    color: #76195D;
    font-size: 32px;
    font-weight: 400;
    line-height: 56px;
    /* letter-spacing: 0em; */
}

#headLine,
#sendQuotaButton {
    display: flex !important;
}

form>.row {
    padding-top: 32px;
}

.form-control:focus {
    border-color: #76195D !important;
    /* Change border color */
    box-shadow: 0 0 0 0.25rem rgba(118, 25, 93, 0.25) !important;
    /* Change box-shadow color */
}

.form-floating>label,
.form-check>label {
    font-family: "Inter", Arial, sans-serif !important;
}

#getQuataButton {
    background: linear-gradient(90deg, #F0A62D 0%, #FFF57B 48.43%, #E3A630 100%);
    border: none !important;
    color: #76195D;
    /* font-family: "Eras ITC", "Eras Light ITC", sans-serif !important; */
    font-family: "Inter", Arial, sans-serif !important;
    font-weight: 500;
}

#getQuataButton:focus,
#getQuataButton:active {
    border-color: none !important;
    box-shadow: none !important;
}

.form-control:valid {
    background-image: none !important;
    border: 1px solid #ced4da;
}

.form-floating>label>span {
    color: red;
}

.form-check-input[type="checkbox"]:checked {
    border-color: #76195D !important;
    background-color: #76195D !important;
    box-shadow: 0 0 0 0.25rem rgba(118, 25, 93, 0.25) !important;
}

@media only screen and (max-width: 512px) {
    #headLine>p {
        font-size: 20px;
        font-weight: 400;
    }
}

/* #step1 {
    background-image: url("/assets/getorderprocess/step1_white.png");
    height: 150px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0%;
    transition: background-image 0.3s ease;

}

#step1:hover {
    background-image: url("/assets/getorderprocess/step2_purple.png");
    height: 150px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0%;
} */

.orderProcess>img {
    /* width: 72%; */
    height: 68%;
}

.orderProcess {
    display: flex;
}

#stepone,
#steptwo,
#stepthree,
#stepfour {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    margin: 12px;
}

#stepone {
    background-image: url('/assets/getorderprocess/stepone_white.png');
}

#stepone:hover {
    background-image: url('/assets/getorderprocess/stepone_purple.png');
}

#steptwo {
    background-image: url('/assets/getorderprocess/steptwo_white.png');
}

#steptwo:hover {
    background-image: url('/assets/getorderprocess/steptwo_purple.png');
}

#stepthree {
    background-image: url('/assets/getorderprocess/stepthree_white.png');
}

#stepthree:hover {
    background-image: url('/assets/getorderprocess/stepthree_purple.png');
}

#stepfour {
    background-image: url('/assets/getorderprocess/stepfour_white.png');
}

#stepfour:hover {
    background-image: url('/assets/getorderprocess/stepfour_purple.png');
}