#carouselExampleFade {
    margin: 0px;
    padding: 0px;
}

#home_slides>div>div>h3 {
    color: #76195D !important;
    font-weight: bolder;
}

#home_slides>div>div>button>a {
    color: #76195D !important;
    text-decoration: none !important;
    font-family: "Eras ITC", "Eras Light ITC", sans-serif !important;
    font-weight: 500;
}

#home_slides>div>div>button {
    background: linear-gradient(90deg, #F0A62D 0%, #FFF57B 48.43%, #E3A630 100%);
}

#home_slides>div>div>button,
#home_slides>div>div>button {
    border-color: none !important;
    box-shadow: none !important;
}

.card_img {
    border: none !important;
}

#img_content>div>div {
    display: flex !important;
}

#img_content>div {
    margin: 20px;
}

.card-title {
    color: #76195D !important;
    font-size: 32px;
    font-family: 'Bad Script';
    letter-spacing: 0.05em;
    font-weight: 500;
}

.card-text {
    font-size: 20px;
    font-family: 'Bad Script';
    letter-spacing: 0.05em;
    line-height: 42px;
}

.card_content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}